<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytedance.royal_douyin.mapper.UserMapper">


    <select id="getUserById" resultType="com.bytedance.royal_douyin.entity.User">
        select *
        from user
        where user_id = #{userId}
    </select>
</mapper>